$count-day: 7;
$padding: 10px;
$gap: 1px;
$cell-size: 100px;
$size: $cell-size * $count-day + $gap * ($count-day - 1);
$cell-background-color: #eee;
$font-family: Arial, sans-serif;
$font-size: 30px;
$hover-cell-background-color: #ffbfcb;
$border-settings: 1px solid #000;
$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
